In [2]:
import pandas as pd
import mitosheet
data_frame_yay = pd.DataFrame(data={'A': [1, 2, 3], 'B': [1, 2, 3]})
mitosheet.sheet(data_frame_yay)

MitoWidget(code_json='{"imports": "from mitosheet import *", "code": []}', column_filters_json='[{"A": {"condiâ€¦

In [ ]:
# MITO CODE START (DO NOT EDIT)
# SAVED-ANALYSIS-STARTUUID-1db5d817-885c-4eef-9f30-e5d4e1730c56SAVED-ANALYSIS-END

from mitosheet import *

# Step 1

data_frame_yay_columns = [col for col in data_frame_yay.columns if col != 'A']

data_frame_yay_columns.insert(1, 'A')

data_frame_yay[data_frame_yay_columns]
  
# MITO CODE END (DO NOT EDIT)

   BBBBBBB  C ABCDEF
0        1  A     99
1        2  1    100
2        3  2    101

In [5]:

df_columns = [col for col in df.columns if col != 'ABCDEF']

df[df_columns.insert(2, 'ABCDEF')]

   BBBBBBB  C ABCDEF
0        1  A     99
1        2  1    100
2        3  2    101