In [1]:
"""
This file tests some repetitive merging functionality with Mito, where
the merged sheet is then used as part of another merge

Instructions:
1. Run this cell
2. Click the merge button in the toolbar and merge df1 and df2 together on Key1 and Key2, respectivly
3. Check that a new sheet, df3, is created and that it contains only 4 rows. The first row should read: [A, 1, A, 5]. 
4. Rerun this cell. 
5. Check that the sheet, df3, is still there. 
6. On Sheet df1, create a new column and set it equal to column Key1
7. On Sheet df2, create a new column and set it equal to column Key2 
8. On df3, create a new column and set it to =CONCAT(Key1, Key2)
9. Take a look at each sheet, rerun the codeblock and make sure that each sheet did not change. Make sure you can edit the columns you made above. 
10. Open the Merge modal
    1. Set First Sheet to df1
    2. Set Second Sheet to df3
    3. Check to make sure that the keys automatically updated to Key1 and Key1
    4. Click Merge
11. Check the new sheet exists. 
"""

    
import pandas as pd
import mitosheet
df1 = pd.DataFrame(data={'Key1': ['A', 'B', 'C', 'D'], 'value': [1,2,3,4]})
df2 = pd.DataFrame(data={'Key2': ['A', 'A', 'B', 'B'], 'value': [5,6,7,8]})
mitosheet.sheet(df1, df2)

MitoWidget(code_json='{"imports": "from mitosheet import AVG,CLEAN,CONCAT,FIND,LEFT,LEN,LOWER,MID,MULTIPLY,PROâ€¦

In [2]:
# MITO CODE START (DO NOT EDIT)
# SAVED-ANALYSIS-START7a00bb24-b589-45f1-8ab6-a7671b8da845SAVED-ANALYSIS-END

from mitosheet import *

# Step 1

temp_df = df2.drop_duplicates(subset='Key2')

df2_tmp = temp_df.drop(['value'], axis=1)

df3 = df1.merge(df2_tmp, left_on=['Key1'], right_on=['Key2'], how='left', suffixes=['_df1', '_df2'])
  
# MITO CODE END (DO NOT EDIT)
df3.head()

  Key1  value Key2
0    A      1    A
1    B      2    B
2    C      3  NaN
3    D      4  NaN